body {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 60px 3% 3%;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(52, 58, 64, 0.6);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item-navbar {
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.item-navbar:hover {
    color: #fff;
    background-color: #0056b3;
}

